<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header class="main-header">
            <div class="logo-search">
                <div class="main-header-top-bar">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo" ></a>
                    
                    <div class="search">
                        <input type="text">
                        <div class="icon">
                            🔎
                        </div>
                    </div>

                    <h2 class="copy-header">
                        <i class="fas fa-hand-holding-usd"></i>
                        Comprá en cuotas y sin tarjeta de crédito
                    </h2>
                </div>
                
            </div>
            <!-- <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a> -->
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
    
                <ul class="right-navbar">
                    <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>

            </nav>
        </header>
        <main class="form">
            <section class="form-register">
                <h3>Registrá tu usuario</h3>
                <form method="POST">
                    <div class="row">
                        <label for="fullname">Nombre y Apellido</label>
                        <input type="text" name="fullname" id="fullname" placeholder="Escribe tu nombre completo sin iniciales">
                    </div>
                    <div class="row">
                        <label for="username">Nombre de Usuario</label>
                        <input type="text" name="username" id="username" placeholder="Escribe tu user Name">
                    </div>
                    <div>
                        <label for="date">Fecha de Nacimiento</label>
                        <input type="date" name="date" id="date" placeholder="Fecha de Nacimiento">
                    </div>
                    <div class="row">
                        <label for="address">Dirección</label>
                        <input type="text" name="address" id="Address" placeholder="Escribe tu dirección">
                    </div>
                    <label>Perfil de Usuario</label>
                    <div class="row radio">
                        <label> Comprador
                            <input type="radio" name="perfil-usuario" value="comprador">
                        </label>
                        <label>Vendedor
                            <input type="radio" name="perfil-usuario" value="vendedor">
                        </label>
                    </div>
                    <div class="row">
                        <label>Intereses</label>
                    </div>
                    <div class="row">
                        <label><input type="checkbox" name="categoria-interes" value="electro"> Electro</label>
                    </div>
                    <div class="row">
                        <label><input type="checkbox" name="categoria-interes" value="moda"> Moda</label>
                    </div>
                    <div class="row">
                        <label><input type="checkbox" name="categoria-interes" value="hogar"> Hogar</label>
                    </div>
                    <div class="row">
                        <label><input type="checkbox" name="categoria-interes" value="jugueteria"> Juguetería</label>
                    </div>
                    <div class="row">
                        <label><input type="checkbox" name="categoria-interes" value="vida-sana"> Vida Sana</label>
                    </div>
                    <div class="row">
                    <br>
                        <label for="avatar">Foto de Usuario</label>
                            <input type="file"  id="avatar" name="avatar" accept=".png, .jpg">
                    </div>
                    <div class="row">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" pattern=".{6,}">
                    </div>
                    <div class="row">
                        <label for="confirm-password">Confirmar Contraseña</label>
                        <input type="password" name="confirm-password" id="confirm-password" pattern=".{6,}">
                    </div>
                    <div class="row">
                        <button type="Send">Send</button>
                        <button type="Reset">Reset</button>
                    </div>
                    </div>
                </form>
            </section>
        </main>
        <footer>
            <div class="main-footer1">
                <div class="control-footer1">
                    <div class="icono-footer"><i class="fas fa-credit-card"></i></div>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con Mercado Pago, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            
                <div class="control-footer1">
                    <div class="icono-footer"><i class="fas fa-gift"></i></div>
                    <h2>Envío gratis desde $ 2.500</h2>
                    <p>Solo por estar registrado en Mercado Libre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            
                <div class="control-footer1">
                    <div class="icono-footer"><i class="fas fa-shield-alt"></i></div>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
                </div>  
            </div>    
            </footer>  
    </body>
</html>